:root {
  --salmon: #fcc5a3;
  --lightblue: #7989ff;
  --blue: #5267ff;
}

body {
  margin: 0;
  min-width: 100px;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  color: var(--blue);
  background: linear-gradient(90deg, rgba(255,189,148,1) 0%, rgba(255,198,163,1) 45%, rgba(249,221,204,1) 100%);
}
  
* {
  box-sizing: border-box;
}

.wrapper {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  min-height: 50vh;
  background: white;
  box-shadow: 0 0 5px grey;
}

button {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  color: white;
  background: var(--lightblue);
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 6px 8px; 
  margin-left: 10px;
  transition: 0.3s;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  text-align: center;
  font-weight: bold;
  color: var(--blue);
}

input {
  width: 150px;
  border: none;
  border-bottom: solid 1px lightgrey;
  padding: 5px; 
  margin: 5px;
  text-align: center;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  background: white;
  transition: 0.3s ease-in-out;
}

input::placeholder {
  text-align: center;
  font-style: italic;
}

input:focus {
  border-bottom: solid var(--salmon) 2px;
}

button:hover {
  color: white;
  background: var(--blue);
}
button:focus {
  outline-style: none;
}

/* HEADER */
.header {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
}