:root {
  --salmon: #fcc5a3;
  --lightblue: #7989ff;
  --blue: #5267ff;
}

body {
  margin: 0;
  min-width: 100px;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  color: var(--blue);
  background: linear-gradient(90deg, rgba(255,189,148,1) 0%, rgba(255,198,163,1) 45%, rgba(249,221,204,1) 100%);
}
  
* {
  box-sizing: border-box;
}

.wrapper {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  min-height: 50vh;
  background: white;
  box-shadow: 0 0 5px grey;
}

button {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  color: white;
  background: var(--lightblue);
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 6px 8px; 
  margin-left: 10px;
  transition: 0.3s;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  font-weight: bold;
  color: var(--blue);
}

input {
  width: 90%;
  border: none;
  border-bottom: solid 1px lightgrey;
  padding: 5px; 
  margin: 5px;
  text-align: center;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  background: var(--salmon);
  transition: 0.3s ease-in-out;
}

input::placeholder {
  text-align: center;
  font-style: italic;
}

input:focus {
  border-bottom: solid grey 2px;
}

button:hover {
  color: white;
  background: var(--blue);
}
button:focus {
  outline-style: none;
}

/* HEADER */
.header {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 30vh;
}

/* LIST */
ul {
  width: 90%;
  min-height: 50vh;  
  padding: 10px;
}

li:first-of-type {
  border-top: 1px solid lightgrey;
  margin-top: 15px;
}

li {
  padding: 5px 0;
  border-bottom: 1px solid lightgrey;
}

li span {
  margin: 0 10px;
}

/* done things decoration */
.strike-item {
  text-decoration: line-through;
  opacity: 0.7;
}

.fa-star {
  color: rgb(255, 187, 0);
  opacity: 0;
  text-shadow: 1px 1px 2px grey;
}

.show-star {
  opacity: 1;
  margin-left: 10px;
}

/* modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content */
  .modal-content {
    display: flex;
    flex-direction: column;
    margin: auto;
    background: white;
    border: 1px solid #888;
    width: 90%;
    padding: 5px;
  } 

  .popupInput {
    margin-left: 10px;
    width: 90%;
  }
  
  .popupBtns {
    display: flex;
    justify-content: space-around;
  }