:root {
  --purple: rgb(110, 0, 68); 
  --pink: pink;
  --lightpurple: purple;
}

body {
  margin: 0;
  min-width: 100px;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  color: var(--purple);
  background: var(--pink);
}
  
* {
  box-sizing: border-box;
}

.wrapper {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  min-height: 50vh;
  background: white;
  box-shadow: 0 0 5px grey;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  text-align: center;
  font-weight: bold;
  color: var(--purple);
}

input {
  width: 170px;
  border: none;
  border-bottom: solid 1px lightgrey;
  padding: 5px; 
  margin: 5px;
  text-align: center;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  background: white;
  transition: 0.3s ease-in-out;
}

input::placeholder {
  text-align: center;
  font-style: italic;
}

input:focus {
  border-bottom: solid var(--pink) 2px;
}

/* HEADER */
.header {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
}